@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

@mixin mxw-fx-frame-glass() {
    background: rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    @include border-radius(3px);
    @include box-shadow(
        0 2px 8px rgba(0,0,0,0.5),                /* Exterior Shadow */
        inset 0 1px rgba(255,255,255,0.3),        /* Top light Line */
        inset 0 10px rgba(255,255,255,0.2),       /* Top Light Shadow */
        inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
        inset 0 -15px 30px rgba(0,0,0,0.3)        /* Dark Background */
    );
}

@mixin mxw-fx-frame-round($color-tint: #d0d0d0) {
    @include border-radius(4px);
    @include background-with-css2-fallback(
	linear-gradient(bottom, 
			rgba($color-tint, 0.4), 
			rgba($color-tint, 0  ) 62%),
	rgba(229, 229, 229, 0.5));
    border: 2px solid $color-tint;
}

@mixin mxw-fx-text-stroke($color-stroke: black) {
    @include text-shadow(-1px -1px 0 $color-stroke, 1px -1px 0 $color-stroke, 
			 -1px  1px 0 $color-stroke, 1px  1px 0 $color-stroke);
}

@mixin mxw-fx-text-shadow($color-shadow: black) {
    @include text-shadow(0.1em 0.1em $color-shadow);
}
