@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

@import "fx";

@mixin mxw-main-menu-common-decoration(
    $padding-vert: 7px, $padding-horz: 15px) {
    > li > :first-child {
	margin: 0;
	padding: $padding-vert $padding-horz $padding-vert $padding-horz;
	font-weight: bold;
	font-family: tahoma,helvetica,arial,sans-serif;
	background-position: $padding-horz center;
	background-repeat: no-repeat;
    }
}

@mixin mxw-main-menu-transparent-bordered (
    $color-active: #994800, $color-hover: #008000,
    $color-text: white) {

    margin: 0;
    list-style: none;

    > li {
	display: inline-block;
	@include transition(all 0.5s ease-out);
	@include mxw-fx-frame-round($color-tint: #d0d0d0);

	> :first-child  {
	    display: block;
	    color: $color-text;
	    text-transform: uppercase;
	    font-size: 12px;
	    @include mxw-fx-text-shadow();
 	}
	&.active {
	    @include mxw-fx-frame-round($color-tint: $color-active);
	}
	&:hover  {
	    border-color: $color-hover;
	}
    }
}

@mixin mxw-main-menu-glass(
    $color-active: #994800, $color-hover: #008000,
    $color-text: white) {

    margin: 0;
    list-style: none;

    > li {
	display: inline-block;
	@include transition(all 0.5s ease-out);
	@include mxw-fx-frame-glass();

	> :first-child  {
	    display: block;
	    color: $color-text;
	    text-transform: uppercase;
	    font-size: 12px;
	    @include mxw-fx-text-shadow();
 	}
	&.active {
	    border-color: $color-active;
	    @include background-with-css2-fallback(
		rgba(0,0,0,0.25),
		rgba(lighten($color-active, 15%), 0.6));
	}
	&:hover  {
	    border-color: $color-hover;
	}
    }
    > li + li {
	margin-left: 1ex;
    }
}


@mixin mxw-main-menu-border-top(
    $color-active: #D14D29, $color-hover: #BFA74B, 
    $color-border: #404040, $color-text: white) {
    display:         table;
    border-collapse: collapsed;
    border-spacing:  0;
    margin:          0;
    padding:         0;

    > li {
	display:        table-cell;
	vertical-align: middle;
	padding:        0;
	border-left:    1px solid $color-border;
	border-right:   1px solid $color-border;
	height:         38px;
	@include box-sizing(content-box);
	@include transition(all 0.5s ease-out);
	
	> :first-child  {
	    display: block;
	    color: darken($color-text, 40%);
	    line-height: 20px;
	    font-size: 16px;
	    text-decoration: none;
	}
	&.active {
	    @include box-shadow(inset 0 5px $color-active);
	}
	&.active > :first-child {
	    color: $color-text !important;
	}
	&:hover  {
	    @include box-shadow(inset 0 5px $color-hover);
	    @include transition(all 0.2s ease-out);
	}
	&:hover > :first-child {
	    color: darken($color-text, 20%);
	}
    }
}



