@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

/* Copyright (c)  2009-2012  Stephane D'Alu
 * http://www.sdalu.com/
 */


@import "elements/breadcrumbs";
@import "elements/toc";
@import "elements/footer";
@import "/web/MoXoW/sass/components/go-to-top";


.mxw-toc {
    @include mxw-toc-defaults;
}

.ui-front { z-index: 3000; }


.mxw-hide {
    display: none;
}


#mxw-global-warning .m-warning {
	border:			3px solid #dd0000; 
	background:		#ffdddd inline-image('common/icons/32x32/dialog-warning.png') no-repeat 4px center;
	min-height:		40px;
	color:			black;
	padding:		0.5ex 0.5ex 0.5ex 40px;
}







/*======================================================================*/
#notice .mxw-notification:first {
    margin-top: 0;
}

/*
 * Error
 */
#main-error {
    background-image: image-url('common/icons/32x32/dialog-error.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border: 0;
    padding-left: 50px;
    padding-top: 1ex;
    min-height: 50px;
}
#main-error.warning {
    background-image: image-url('common/icons/32x32/dialog-warning.png');
}



.m-custom-box {
    position: relative;
}




/*
 * Browser warning (mainly for IE)
 */
div.browser-warning { 
	border:			solid 2px red;
	background-color:	#ffd0d0;
	padding:		2px 1ex;
	text-align:		center;
}






/*== Breadcrumbs =======================================================*/

#mxw-nav-breadcrumbs, #mxw-nav-lang-switcher {
    display: inline-block;
}

#mxw-nav-breadcrumbs {
        margin:			0;
        padding:		5px 10px;
	line-height:		16px;
	font-size:		12px;
	font-family:		tahoma,helvetica,arial,sans-serif;
}
.mxw-breadcrumbs {
    @include breadcrumbs-simple($sep-color: #a5c252);
}



/*== Lang ==============================================================*/
#mxw-nav-lang-switcher {
    padding:		5px 5px;
    margin:		0;
    line-height:	16px;
    font-size:		12px;
    font-family:	tahoma,helvetica,arial,sans-serif;
}

.mxw-lang-switcher {
    @include inline-list;
    margin:		0;
    padding:		0;

    li {
	color:			white;
	margin:			0 3px;
	padding:		0;
    }
    a {
        color:			white;
    }
    .active {
	border-bottom:		2px solid white;
    }
}


/*== Footer ============================================================*/

#mxw-footer {
	clear:			both;
	padding:		0;
}

.mxw-footer-pageinfo {
    @include mxw-footer-list;
    float:		right;
    text-align:		right;
    margin-right:	1ex;
}



#mxw-header {
    z-index: 500;
}