@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$
@import "main-menu";
@import "components/splash-messages";

html {
        background-color:	#dddddd;
}
#body {
	background:		#ffffff;
	margin-bottom:		1ex;
	color:			black;
	border-left:		1px solid grey;
	border-right:		1px solid grey;
	border-bottom:		1px solid grey;
	margin:			0 auto;
	max-width: 		1000px;
}




#mxw-menu {
    @include mxw-main-menu-common-decoration($padding-vert: 2px);
    @include mxw-main-menu-border-top();
}

#mxw-footer {
    border-top:		solid #d0d0d0 1px;
    * { color: #999999; }
}


#mxw-header { 
	background: 		black;
}
#mxw-nav-menu {
	border-bottom:		1px solid #222222;
}

#mxw-splash-messages {
    @include mxw-splash-messages-default();
    position:		absolute;
    right:			0;

    a { font-weight: bold; }
}
