@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$
@import "main-menu";
@import "components/splash-messages";

/*== HTML & BODY =======================================================*/

html {
	background:		#808080;
}
#body {
	background:		#f3f3f3; 
	color:			black;
	margin:			0 auto !important;
	max-width: 		950px;
}


/* == */

$mxw-header-height:       160px !default;
$mxw-header-background-image: url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==) !default;

#mxw-header {
    position: relative;
    height: $mxw-header-height;
    @include background-with-css2-fallback(
	url(/images/gradient/black.png),
	$mxw-header-background-image,
	black);
    background-position: center bottom, 0px 0px; 
    background-repeat:   repeat-x,      no-repeat;
    background-clip:     content-box,   border-box;
    background-size:     auto 26px,     auto;
}

#mxw-header h1 { 
        position: relative;
	top:			80px;
	color:			white;
	font-size:		xx-large;
        margin:			0 0 0 1em;
	font-variant:		small-caps;
	font-family:		"Days One",Helvetica,Arial,sans-serif;
	font-weight:		bold;
	@include text-shadow(2px 2px 3px black);
	
}



#mxw-logo {
    margin: 10px;
    display: block;
    position: absolute;
    z-index: 9;
    float: left;
    img {
	height: 40px;
    }
}

.mxw-content {

    h1 { 
        margin-top:		1em;
	margin-bottom:		0.2ex;
	font-size:		x-large;
	color: 			#333;
	font-weight: 		bold;
    }

    h2 { 
        margin-top:		1em;
	margin-bottom:		0.2ex;
	font-size:		large;
	color: 			#444;
	font-weight: 		bold;
    }

    h3 { 
        margin-top:		1em;
	margin-bottom:		0.2ex;
	font-size:		large;
	color: 			#444;
    }

}



#mxw-breadcrumbs-n-lang {
    position: absolute;
    bottom: 0;
    left: 0;
}


#mxw-nav-menu {
	width: 100%;
	position: absolute;
	right: 0;
	@include background-image(
	    linear-gradient(top, rgba(128,128,128,0.4)   0%,
			         rgba(128,128,128,0.4)  95%,
				 rgba(128,128,128,1  ) 100%));
	@include box-shadow(0 0 3px black);
	padding: 5px 0 15px 0;
	z-index: 1;
}




#mxw-footer {
    border-top: solid #d0d0d0 1px;
    * { color: #999999; }
}

#mxw-splash-messages {
    @include mxw-splash-messages-default();
    position: absolute;
    bottom: 0;
    right: 0;
}



/*======================================================================*
 *== Print                                                            ==*
 *======================================================================*/
@media print { 

/* Use normal margin for the main section
 */
#mxw-content {  
	margin:			0.4em 0 0 0.4em; 
}

/* Hide: menu, header, lang, print sections
 */
#mxw-header, #mxw-footer { 
	 display:		none;
}

}
