@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$
@import "/web/Common/style/btn-fx";
@import "/web/Common/style/window";

/* Copyright (c)  Stephane D'Alu  2009-2012
 * http://www.sdalu.com/
 */

.awesome {
    @include btn-fx-awesome();
}


/*
 * Quick buttons
 */
#m-quick-buttons {
    position:		absolute;
    z-index:		50;
    & > a {
	display:		block;
    }
}



/*
 * Bubble framing
 */
.chat-bubble {
	border:2px solid #666666;
	margin:10px;
	padding:10px;
	position:relative;
	@include border-radius(10px);
	@include box-shadow(0 0 5px #888888);
}
.chat-bubble-arrow, .chat-bubble-arrow-border {
  	border-color: transparent transparent #ffffff transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	right:30px;
	top:-19px;
}
.chat-bubble-arrow-border {
  	border-color: transparent transparent #666666 transparent;
	top:-22px;
}

.m-exhibition-bubble-content {
        background-color:	#ffffff;
        color:			#666666;
        font-size:		12px;
        line-height:		1.2em;
        font-family:		"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}



/*
 * Infobox popup
 */
.m-exhibition-infobox {
	position	: relative;
}
.m-exhibition-infobox-trigger {
        cursor		: pointer;
}
.m-exhibition-infobox-popup {
	position	: absolute;
	display		: none;
	z-index		: 50;
	border-collapse	: collapse;
}

.m-exhibition-download-poster .m-exhibition-infobox-popup {
	right		: 1ex;
	top		: 2ex;
	padding		: 10px;
}

.m-exhibition-download-poster .m-exhibition-infobox-trigger {
        background: 		inline-image('common/icons/16x16/document-save.png')
					no-repeat left center;
        padding-left: 		20px;
        margin-top: 		4px;
}
  
.m-exhibition-infobox-popup th, .m-exhibition-infobox-popup td {
        text-align: 		left;
}



/*
 * Exhibition
 */
.m-exhibition {
	margin:			0 auto;
}
.m-exhibition-off  {
    	display: 		none;
}
table.m-exhibition td {
	vertical-align:		top;
}



/* 
 * Poster
 */
.m-exhibition-holder-poster {
	padding-right:		2em;
}
.m-exhibition-holder-poster a {
        text-decoration:	none !important;
}


.m-exhibition-poster {
	position:		relative;
}

.m-exhibition-poster-img {
	border:			2px solid white;
	max-height:		600px;
}

.m-exhibition-poster-where {
        position:		absolute;
	display:		block;
        font-family:		sans-serif;
        font-size:		14px;
        color:			black;
	text-align:		left;
}

.m-exhibition-poster-when {
        position:		absolute;
        border: 		1px solid red;
        padding:		2px;
        color:			black;
	background: 		rgba(255, 255, 255, 0.75);
        text-align:		left;
        font-family:		arial, sans-serif;
	cursor:			default;
	user-select: 		none;
	border-spacing:		2px;
}
.m-exhibition-poster-when th {
        font-weight:		bold;
        font-size:		17px;
	padding-bottom:		0.5ex;
}
.m-exhibition-poster-when td {
        font-size:		14px;
}


.m-exhibition-poster:hover .m-exhibition-enter {
	opacity:		1;
	visibility:		visible;
	@include transition(all 0.3s ease-out);
}

.m-exhibition-enter {
    @include btn-fx-awesome();
	opacity:		0;
	visibility:		hidden;
	position:		absolute;
}



/*
 * Description
 */
.m-exhibition-description {
        text-align:		justify;
}
.m-exhibition-description hr {
        height:			1px;
        border:			none;
        color:			white;
        background-color:	white;
	width:			75%;
}
.m-exhibition-access {
	width:			100%;
	border-spacing:		4px;
}
.m-exhibition-access-where {
	width:			50%;
        border-collapse:	collapse;
	border-right:		1px solid white;
}
.m-exhibition-access-when  {
	width:			50%;
        border-collapse:	collapse;
}

.m-exhibition-section {
}

.m-exhibition-section-info {
	float:			right;
}

.m-exhibition-date-current {
	position:		relative;
}
.m-exhibition-date-previous {
	position:		relative;
}
.m-exhibition-date-previous hr {
	width:			50%;
}
.m-exhibition-date-toggler {
	position:		absolute;
	left:			50%;
	bottom:			-6px;
	margin-left:		-16px; 
	visibility:		visible;
	background-image:	inline-image('common/icons/32x32/calendar.png');
	background-position:	center center;
	background-repeat:	no-repeat;
	width:			32px;
	height:			32px;
}
.m-exhibition-date-toggler span {
	visibility:		hidden;
}

.m-exhibition-format-selector a img {
	margin:			7px;
	padding-bottom:		7px;
	border-bottom:		none;
}

.m-exhibition-format-selector a:hover img {
	padding-bottom:		2px;
	border-bottom:		5px solid #bd7629;
}


.m-exhibition-section-advertisement {
	border-top:		1px solid white;
	margin-top:		1em;
	padding-top:		1em;
	text-align:		center;
}



/*
 * Exhibition soon
 */
.m-exhibition-soon h1 {
        margin-top: 		0em;
        margin-bottom: 		1ex;
        border-top: 		1px solid white;
        border-bottom: 		1px solid white;
}
.m-exhibition-soon p {
        text-align: 		justify;
}

