@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$


.mxw-go-to-top {
    position:fixed;
    right:15px;
    bottom:15px;
    width:50px;
    height:25px;
    padding-top:25px;
    line-height:25px;
    background:#333;
    color:#888;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    font-size:14px;
    @include border-radius(10px);
    z-index: 32000;
    cursor: pointer;
    @include opacity(0.7);
}

.mxw-go-to-top.mxw-hide {
    display: none;
}

.mxw-go-to-top:hover {
    @include opacity(1);
}
.mxw-go-to-top:before {
    position:absolute;
    top:11px;
    left:14px;
    content: '';
    border-bottom: 11px solid #888;
    border-left:   11px solid transparent;
    border-right:  11px solid transparent;
}

