@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

@mixin mxw-splash-messages-default {
    height:		22px;
    width: 		50ex;
    text-align:		right;

    a {
	color:		#a5c252;
	font-size:	11px;
	line-height:	12px;
	font-family:	tahoma,helvetica,arial,sans-serif;
	text-decoration:none;
	padding:	5px 10px 0;
    }
    a:hover {
	color:		#8FB327 !important;
    }
}
