@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

@mixin breadcrumbs-simple($sep: "▶", $sep-color: grey, $text-color: white) {
    @include inline-list;
    margin:		0;
    padding:		0;

    li { 
	color:			$text-color;
    }
    li:before { 
	color:			$sep-color;
        font-weight:		normal;
	content:		$sep;
	padding-left:		0.75ex;
	padding-right:		0.75ex;
    }
    li:first-child:before { 
	content:		normal;
    }
    li:last-child {
	font-weight:		bold;
    }
    a { 
	color:			$text-color !important;
    }
    a:hover {
	text-decoration:	underline;
    }
}



@mixin breadcrumbs-fading() {
    list-style: none; 
    overflow: hidden; 
    font: 18px Helvetica, Arial, Sans-Serif;

    li { 
	float: left; 
    }
    li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: brown;
	background: hsla(34,85%,35%,1); 
	position: relative; 
	display: block;
	float: left;
    }
    li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(34,85%,35%,1);
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
    }
    li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
    }
    li:first-child a {
	padding-left: 10px;
    }
    li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
    li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
    li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
    li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
    li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
    li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
    li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
    li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
    li:last-child a {
	background: white !important;
	color: black;
	pointer-events: none;
	cursor: default;
    }
    li:last-child a:after { border: 0; }
    li a:hover { background: hsla(34,85%,25%,1); }
    li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }
}
