@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

@mixin mxw-figure-defaults() {
    border:                 1px solid grey;
    margin:                 1em;
    padding:                1ex;
    color:                  #444444;
    background-color:       #dddddd;
    font-size:              small;
    @include border-radius(5px);

    > figcaption:last-child {
	border-top: 1px dotted grey;
    }
}