@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

@mixin mxw-footer-list() {
    @include inline-list;
    margin:		0;
    font-family:	Verdana, Arial, Helvetica, sans-serif;
    font-size:		10px;
    li:before { 
	content:	" || ";
    }
    li:first-child:before {
	content:	normal;
    }
}

