@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$
@import "compass/css3/user-interface";

/* Copyright (c)  20011-2012  Stephane D'Alu
 * http://www.sdalu.com/
 */


/*
 * Default layout
 */
.mxw-slide {
    position: 		relative;
}

.mxw-slide-n-controls { // To protect caption
}
.mxw-slide-n-actions  { // To protect caption
    position: 		relative;
}

.mxw-slide-prev, .mxw-slide-next {
    position: 		absolute;
    z-index: 		102;
    cursor: 		pointer;
    @include user-select(none);
}

.mxw-slide-caption {
    z-index:		105;
}

.mxw-slide-pager {
    position: 		relative;
    z-index: 		110;
    cursor: 		default;
    @include user-select(none);
    text-align: 	center;
}

.mxw-slide-pager ul {
    display:		inline-block;
    margin:		0;
    padding:		0;
    list-style-type:	none;
}

.mxw-slide-pager li {
    display: 		inline;
    cursor:		pointer;
}



/*
 * Styling
 */

// Auto showing glass caption
//
@mixin mxw-slide-fx-caption-glass {
    & > figcaption {
	position: 	absolute;
	z-index: 	102;
	bottom: 	0; 
	@include box-sizing(border-box);
	width: 		100%;
	height: 	1.5em;
	border-top: 	1px solid  rgb(160, 160, 160);
	background: 	rgba(128,128,128,0.8);
	@include background(
	    linear-gradient(bottom, rgba(128,128,128,0.8)   0%,
			            rgba(128,128,128,0.8)  95%,
				    rgba(128,128,128,1  ) 100%));
	@include box-shadow(0 -4px 4px -3px #555);
	padding: 	0 1ex;
	visibility: 	hidden;
	opacity:	0;
	@include transition(visibility 0s linear 0.5s, opacity 0.5s linear);
    }

    &:hover > figcaption {
        visibility: 	visible;
	opacity:	1;
	@include transition-delay(0s);
    }
}



// Dotted pager
//
@mixin mxw-slide-fx-pager-dot($default : rgb(127,127,127),
			    $selected: rgb(89,145,0),
			    $hover   : rgb(56,130,214)) {
    & {
	margin-bottom: 1.5em;
    }
    .mxw-slide-pager {
	position: 	absolute;
	bottom: 	-1.5em;
	width: 		100%;
    }
    .mxw-slide-pager li {
	font-size:  	larger;
	color: 		$default;
	@include text-shadow(0.1ex 0.1ex 0.1ex rgba(80,80,80,0.8));
    }

    .mxw-slide-pager li.selected {
	color: 		$selected;
    }
    .mxw-slide-pager li:hover {
	color: 		$hover;
    }
}


// Outer next/prev control
//
@mixin mxw-slide-handle-fx-outer {
    .mxw-slide-prev, .mxw-slide-next {
	overflow: 		hidden;
	background-repeat: 	no-repeat;
	width: 			24px;
	height: 		43px;

    }
    .mxw-slide-prev span, .mxw-slide-next span {
	visibility: 		hidden;
    }
    .mxw-slide-prev {
	left: 			-24px;;
	bottom: 		50%;
	background-image: 	inline-image('common/misc/arrow-prev.png');
    }
    .mxw-slide-next {
	right: 			-24px;
	bottom: 		50%;
	background-image:	inline-image('common/misc/arrow-next.png');
    }
}


// Inner next/prev control with glass effect
//  and delayed auto show
//
@mixin mxw-slide-fx-handle-inner-glass {
    .mxw-slide-prev, .mxw-slide-next {
	overflow: 		hidden;
	visibility: 		hidden;
	opacity:		0;
	@include transition(visibility 0s linear 0.5s, opacity 0.5s linear);
	
	top:			0;
	height: 		100%;
	width: 			20%;
	background-color: 	rgba(127,127,127,0.4);
	background-repeat: 	no-repeat;
	background-position: 	center;
    }
    
    .mxw-slide-n-actions:hover .mxw-slide-prev, 
    .mxw-slide-n-actions:hover .mxw-slide-next {
        visibility: 		visible;
	opacity:		1;
	@include transition-delay(0.5s);
    }
    
    .mxw-slide-prev {
	@include box-shadow(4px 0 4px -3px #555);
	left: 			0;
	background-image: 	inline-image('common/icons/24x24/go-previous.png');
    }
    .mxw-slide-next {
	@include box-shadow(-4px 0 4px -3px #555);
	right: 			0;
	background-image: 	inline-image('common/icons/24x24/go-next.png');
    }
    
    .mxw-slide-prev span, .mxw-slide-next span {
	visibility: 		hidden;
    }
}
