@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id$

@mixin mxw-toc-defaults() {
    & > div:first-child {
	font-variant:		small-caps;
	display:		block;
    }
    ol { 
	counter-reset: 		item; 
	padding-left: 		2em; 
	margin: 		0
    }
    & > ol { 
	padding-left: 		0; 
    }
    ol li {
	display: 		block
    }
    ol li:before { 
	content: 		counters(item, ".") ". ";
	counter-increment: 	item;
    }
    ol.toc-nodata > li:before {
	content:		'';
    }
    ol.toc-nodata {
	padding-left:		0;
    }
    ul {
	list-style-position:	inside;
	padding:		0.5ex;
	margin:			0;
    }
    div + ol,
    div + ul {
	border-top:		1px solid grey;
	padding-bottom:		0;
    }
    ol + div,
    ul + div {
	border-top:		1px solid grey;
	padding-top:		1ex;
	margin-top:		1ex;
    }
}
